@font-face {
  font-family: "Garlic Salt";
  src: url("fonts/GarlicSalt-Regular.otf") format("otf");

}

video {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 10px;
}

.thumbnail {
  max-width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navigation {
  background-color: #3DC3A0;
  margin-bottom: 20px;
}

.navbar-brand {
  color: white;
  font-size: 24pt;
  font-family: "Garlic Salt", serif;
}

#add-note {
  background-color: #5F1E8A;
  border-color: #5F1E8A;
}

#instructions {
  font-size: 14pt;
}

#content > p {
  margin-left: 50px;
  margin-bottom: 50px;
}

#button-row {
  margin-top: 20px;
}

#video-container {
  margin-left: 30px;
  margin-right: 30px;
}

#note-interface {
  margin-top: 30px;
}

#add-note {
  margin-top: 10px;
}

#recipe-list {
  height: 500px;
  overflow-y: scroll;
}

#recipe-list > div {
  margin-bottom: 10px;
}
